[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
django = "*"
djangorestframework = "*"
requests = "*"
django-debug-toolbar = "*"

[dev-packages]
bandit = "*"
black = "*"

[requires]
python_version = "3.11"
