{% extends "frontend/base.html" %}
{% block content %}
    <div class="row">
        <h2>Jupiter Hell Characters</h2>
    </div>
    <div class="row mt-3">
        <table class="table table-light table-striped table-hover">
            <thead class="table">
                <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Class</th>
                <th scope="col">Difficulty</th>
                <th scope="col">Points</th>
                <th scope="col">Won</th>
                <th scope="col">Killed by</th>
                <th scope="col">Last Visited</th>
                </tr>
            </thead>
            <tbody>
                {% for char in characters %}
                <tr>
                    <td>{{ char.id }}</td>
                    <td><a class="link-primary" href="/api/jupiter/characters/{{ char.id }}">{{ char.name }}</a></td>
                    <td>{{ char.klass }}</td>
                    <td>{{ char.difficulty }}</td>
                    <td>{{ char.points }}</td>
                    <td>{{ char.won }}</td>
                    <td>{{ char.killed_by }}</td>
                    {% with last_location=char.visited_locations|last %}
                        <td>{{ last_location.name }}</td>
                    {% endwith %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div>
            <ul class="pagination justify-content-end">
                {% if pagination.previous_page %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ pagination.previous_page }}">&laquo;</a>
                {% else %}
                    <li class="page-item disabled">
                    <a class="page-link" href="#">&laquo;</a>
                {% endif %}
                </li>
                <li class="page-item active">
                <span class="page-link">{{ pagination.current_page }} of {{ pagination.last_page }}</span>
                </li>
                {% if pagination.next_page %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ pagination.next_page }}">&raquo;</a>
                {% else %}
                    <li class="page-item disabled">
                    <a class="page-link" href="#">&raquo;</a>
                {% endif %}
                </li>
            </ul>
        </div>
    </div>
{% endblock content %}